<%- include('templates/header', { title: 'Home' }) %>

<div class="container mt-5 text-center">
  <% if (!user) { %>
    <h1>Welcome!</h1>
    <a href="/signup" class="btn btn-info me-2">Sign Up</a>
    <a href="/login" class="btn btn-outline-info">Log In</a>
  <% } else { %>
    <h1>Hello, <%= user.name %>!</h1>
    <a href="/members" class="btn btn-info me-2">Members</a>
    <a href="/logout" class="btn btn-info">Sign Out</a>
  <% } %>
</div>

<%- include('templates/footer') %>
